$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';




body{
  font-family: 'Josefin Sans', sans-serif;
  margin: 10px auto;
  max-width: 80%;
  border: 1px solid black;

}

.btn {
  background-color: #66ff66;
  color: black;
}

header {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #66ff66;
  padding: 12px;
  border: 1px solid black;
}


h1 {
  font-size: 5em; /* 40px/16=2.5em */

}

table {
  width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #66ff66;
    height: 30px;
}

tr:nth-child(even) {background-color: #f2f2f2}

footer {
  width: 100%;
  height: 50px;
  background-color: #66ff66;
  margin-bottom: 20px;
  border: 1px solid black;
}

footer p {
  text-align: center;
  padding-top: 15px;
}
